.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/staging/

data/raw/
data/interim/
data/processed/
results/
reports/_freeze/
reports/*_files/
*.html
*.pdf

.DS_Store
*.log
